<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redes.proyecto.inventorynfc" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data  android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity android:name=".AddProduct"
            android:label="Nuevo producto"
            android:theme="@style/AppTheme" />

        <activity android:name=".Inventory"
            android:label="Inventario"
            android:theme="@style/AppTheme" />

        <activity android:name=".ReadNFC"
            android:label="Leer NFC"
            android:theme="@style/AppTheme" />

        <activity android:name=".ResultNFCReading"
            android:label="Resultado de la lectura"
            android:theme="@style/AppTheme" />

        <activity android:name=".Orders"
            android:label="Resultado de la lectura"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
